.footer {
	position: fixed;
	bottom: 0;
	font-size: 1.5em;
	width: 100%;
	text-align: center;
	background-color: #102660;
	color: white;
	padding: 10px;
	font-weight: bold;
}

.item {
	margin: 50px;
}
