.todoform {
	background-color: white;
	border-radius: 8px;
	padding: 20px;

	width: 500px;
	margin: 0 auto;
	box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}

.modernInput {
	width: 100%;
	border: none;
	display: block;
	color: black;
	font-size: 18px;
}

.modernInput:focus {
	outline: none;
}

.modernButton {
	display: inline-block;
	border: none;
	border-radius: 4px;
	background-color: #102660;
	padding: 12px;
	color: white;
	cursor: pointer;
	width: 5rem;
	font-size: 16px;
}

.inputContainer {
	display: flex;
}
