.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #102660;
	color: white;
	font-weight: bold;
	height: 50px;
	padding: 10px;
	font-size: 1em;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
