.item {
	width: 500px;
	color: #353935;
	font-size: 20px;
	margin: 0 auto;
}

.itemname {
	font-weight: bold;
	padding: 20px;
}

.line {
	border: 1px solid #f4f4f4;
}

.deletebutton {
	float: right;
	padding: 12px 20px;
	border: none;
	background-color: #f7ac18;
	margin-top: -5px;
	border-radius: 4px;
	color: white;
	cursor: pointer;
}

.completed {
	text-decoration: line-through;
}
