.conversion {
    display: grid;
    justify-content: center;
    gap: 20px;
}

img {
    height: 25px;
    width: auto;
}

footer {
    size: 10px;
    background-color: gray;
    text-align: center;
    margin-top: 50px;
}

